<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if(isLogined){%>
      <h3>You are logedin</h3>
    <%}else{%>
      <a href="/login">Login</a>
    <%}%>
  </body>
</html>
