<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>OTP Page</h1>

    <form class="" action="/otp" method="post">
      <label for="">OTP:</label>
      <input type="number" name="otp" value=""><br>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
